*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    line-height: 30px;
	text-align: center;
	background-color: lightskyblue;
}

.backstretch{
	background: url(../img/0.jpg)no-repeat center center fixed; 
	background-size: cover;
	background-repeat: no-repeat;
	 position: absolute;
	 margin: 0px; 
	 padding: 0px; 
	 border: none; 
	 width: 763.5px; 
	 height: 509px; 
	 max-height: none; 
	 max-width: none; 
	 z-index: -999999; 
	 left: -3.75px; 
	 top: 0px;
}

strong { font-weight: 500; }
a{
	font-family: monospace;
	text-align: center;
}
 a:hover, a:focus {
	color: #20b7f8; text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1{
	font-family: "Nunito";
	src: url(../Nunito_Sans/NunitoSans-Bold.ttf);
        font-size: 3em;
        color: #000000;
        text-align: center;
        letter-spacing: 2px;
        /* margin: 100px auto; */
        position: relative;
        display: block;
        width: 100%;
}
h2 { margin-top: 10px; font-family: 'Josefin Sans', sans-serif; font-size: 48px; font-weight: 300; color: #555; line-height: 56px; }
h3 { font-family: 'monospace',monospace; font-size: 20px; font-weight: 300; color: rgb(10, 10, 10); line-height: 30px; text-align: center; letter-spacing: 2px;  position: relative;  display: block;    width: 100%;}

img { max-width: 100%; }

.medium-paragraph { font-size: 18px; line-height: 34px; }

.colored { color: #468aa8; }

::-moz-selection { background: #468aa8; color: #fff; text-shadow: none; }
::selection { background: #468aa8; color: #fff; text-shadow: none; }
/* case texto */
.texto{
	color: #0a0a0a;
}

/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 80px; background-color: lightskyblue;    height: 100vh; }
.section-description { margin-top: 60px; padding-bottom: 10px; }
.section-description p { margin-top: 20px; padding: 0 120px; }


/***** Divider *****/

.divider-1 { padding: 25px 0 15px 0; }
.divider-1 .line { width: 160px; margin: 0 auto; border-bottom: 1px dashed #ccc; }


/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	background: #444;
	border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

ul.navbar-nav {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}

.navbar-inverse ul.navbar-nav li a { padding-top: 20px; padding-bottom: 20px; color: #fff; border: 0; }
.navbar-inverse ul.navbar-nav li a:hover { color: #ddd; border: 0; }
.navbar-inverse ul.navbar-nav li a:focus { color: #ddd; outline: 0; border: 0; }

.navbar-brand {
	width: 102px;
	height: 60px;
	background: url(../img/log.png) left center no-repeat;
	text-indent: -99999px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0; }


/***** Top content *****/

.top-content { padding: 182px 0 180px 0; }

.top-content .text { padding-top: 60px; color: rgb(2, 0, 0); }
.top-content .text h1 { margin-top: 25px;}

.top-content .description { margin: 30px 0 10px 0; }
.top-content .description p { opacity: 0.8; }
.top-content .description a { color: rgb(248, 241, 241); border-bottom: 1px dotted rgb(230, 226, 226); }
.top-content .description a:hover, .top-content .description a:focus { color: rgb(255, 255, 255); border: 0; }


/***** Features *****/

.features-box { margin-top: 30px; text-align: left; }
.features-box .features-box-icon { font-size: 60px; color: #468aa8; line-height: 60px; text-align: center; }
.features-box h3 { margin-top: 0; padding: 0 0 10px 0; }


/***** Footer *****/

footer { padding: 40px 0 45px 0; background: #f8f8f8; }

.footer-copyright { padding-top: 15px; }
.footer-copyright a { color: #888; border-bottom: 1px dotted #888; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #888; border: 0; }



/***** MEDIA QUERIES *****/


@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {

	.section-description p { padding: 0; }
	
	.features-box .features-box-icon { font-size: 50px; line-height: 50px; }

}

@media (max-width: 767px) {
	
	.navbar.navbar-no-bg { background: #444; }
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-inverse .navbar-toggle { margin-top: 13px; border-color: transparent; }
	.navbar-inverse ul.navbar-nav li a { padding-top: 10px; padding-bottom: 10px; }
	.navbar-inverse ul.navbar-nav li a:hover, .navbar-inverse ul.navbar-nav li a:focus { border: 0; }
	
	.section-description p { padding: 0; }
	
	.top-content { padding: 100px 0 100px 0; }
	.top-content .text { padding-top: 20px; }
	
	.features-box { text-align: center; }
	.features-box h3 { margin-top: 5px; padding-top: 10px; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 16px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	/* logo */
    .navbar-brand {
    	background-image: url(../img/log.png) !important; background-repeat: no-repeat !important; background-size: 102px 32px !important;
    }
	
}

h5{
	font-family: monospace;
	color: aliceblue;
	text-align: center;

}

.creat{
color: #ddd;
	
}

div ul li a span{
	margin-right: 3px;

 }
 div ul li:hover .children{
	display: block;  
 }

 div ul li .children{
	display: none;
	background: rgb(18, 19, 18);
	position: absolute;
	width: 100%;
	z-index: 1000;
}

div ul li .children li{
    display: block;
    overflow: hidden;
	border-bottom: 2px solid rgb(248, 246, 246);
	font-size: 12px;

    
}

div ul li .children li a{
    display: block;
}


div ul li .fa{
    position: relative;
    top:1px;
    margin-left: 1px;
}


